/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.block {
    align-content: center;
    border-radius: 3px;
    background-color: white;
    width: auto;
    min-width: 300px;
    max-width: 70vw;
    min-height: 250px;
    padding: 20px;
    /* Space between items */
    margin-right: 30px;
    margin-bottom: 30px;
}
.block table * {
    padding: 3px;
    text-align: left;
}
#weather_iframe_wrapper {
    display: flex;
    justify-content: center;
}
/*Disable mobile weather */
#weather_iframe_wrapper #weather_iframe_mobile {
    display: none;
}


/*Transit info styling */
#transit_info .td_devider {
    width: 7px;
}
@media (max-width: 800px) {
    .block {
        margin-right: 0;
        width: 100%;
    }
    .container {
        justify-content: space-around;
    }
    /*Disable mobile weather */
    #weather_iframe_wrapper #weather_iframe_mobile {
        display: block;
    }
    #weather_iframe_wrapper #weather_iframe_desktop {
        display: none;
    }
}