.container {
    clear: left;
}
.block {
    align-content: center;
    border-radius: 3px;
    background-color: white;
    width: 300px;
    max-width: 70vw;
    min-height: 250px;
    padding: 20px;
    /*align items in rows */
    float: left;
    /* Space between items */
    margin-right: 30px;
    margin-bottom: 30px;
}
.block table * {
    text-align: left;
    padding: 3px;
}

@media (max-width: 800px) {
    .block {
        width: 100%;
    }
    .container {
        display: block;
    }
}