* {
  font-family: 'Roboto', sans-serif;
  outline: none; }

p, a {
  font-weight: 300; }

h1, h2, h3, h4, h5, h6, th, b {
  font-weight: 500; }

.font_weight_normal {
  font-weight: 400; }

body {
  background-image: url(../images/background.png);
  background-color: #d7d7d7;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  color: #343434;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

/*Make links look nice*/
a {
  text-decoration: none;
  color: #039be5;
  /*For JS and Jquery links */
  cursor: pointer; }

a i {
  color: #039be5; }

main {
  flex: 1 0 auto; }

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 340px);
  grid-gap: 30px;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 1280px;
  justify-content: space-around; }

@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; } }
/*make sure container elements stay in the center of the page */
#logo {
  height: 1em; }

nav {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14); }
  nav * {
    color: white;
    font-weight: 400; }
  nav i {
    color: inherit; }

/*Set google icons to have the same size as the text they're used with*/
.material-icons {
  font-size: initial; }

/*Navigation bar */
.desktop-nav {
  /*Vertically align Google logos*/ }
  .desktop-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ee6e73; }
  .desktop-nav li {
    float: right;
    line-height: 1.5;
    vertical-align: middle; }
  .desktop-nav li i {
    float: left;
    margin-right: 5px;
    line-height: 1.5;
    vertical-align: middle; }
  .desktop-nav a {
    display: block;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    /* Hover animation */
    transition: background-color .3s;
    transition-property: background-color;
    transition-duration: 0.3s; }
  .desktop-nav a:hover {
    background-color: #d66367; }
  .desktop-nav .left {
    float: left; }

#title a:hover {
  background-color: #d66367; }

/*Mobile nav */
#side-nav {
  top: -100000vh; }

#mobile-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ee6e73;
  width: 25vw;
  /*rens' shit*/
  position: absolute;
  min-width: 279.719px; }
#mobile-nav li a {
  display: block;
  padding: 16.5px 15px;
  /* Hover animation */
  transition: background-color .3s;
  transition-property: background-color;
  transition-duration: 0.3s; }
#mobile-nav a:hover {
  background-color: #d66367; }

#close_mobile_nav {
  text-align: right; }

/*Hide mobile nav button on desktop*/
.mobile {
  display: none; }

/*Mobile nav stuff*/
@media (max-width: 800px) {
  .mobile {
    display: block; }

  .desktop {
    display: none; }

  #title a:hover {
    background-color: #d66367; }

  #title {
    min-width: 279.719px; }

  .container {
    width: 90%; }

  body {
    background-image: url("../images/background_mobile.png"); } }
/*Style from items*/
.form_div {
  border-radius: 3px;
  width: 300px;
  max-width: 70vw;
  /*input interaction animations*/
  /*Custom styling for form header*/
  /*Make icon and text same size */ }
  .form_div form > * {
    margin-top: 16px; }
  .form_div form > label {
    margin-top: 0;
    padding: 8px 0; }
  .form_div input:not([type=radio]), .form_div textarea {
    width: 80%;
    max-width: 260px;
    padding: 12px 20px;
    border: 0;
    border-bottom: 2px solid rgba(117, 117, 117, 0.5);
    transition: border-bottom 0.2s; }
  .form_div label {
    display: block; }
  .form_div textarea {
    resize: vertical; }
  .form_div input[type=time] {
    width: auto; }
  .form_div input:focus, .form_div textarea:focus {
    border: 0;
    border-bottom: 2px solid #26A69A;
    outline: none; }
  .form_div form {
    width: auto;
    height: auto; }
  .form_div .input-field {
    width: 90%; }
  .form_div .form_header {
    margin: 0;
    font-size: x-large;
    font-weight: normal; }
  .form_div button {
    height: 40px; }
  .form_div .input-confirm * {
    font-size: 1em;
    color: white;
    padding: 0 10px; }
  .form_div .input-confirm i {
    line-height: 1;
    vertical-align: middle;
    margin: 0; }
  .form_div .input-confirm {
    min-width: fit-content;
    cursor: pointer;
    background: #26a69a;
    border: 0;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    /*hover animation */
    transition: box-shadow, -moz-box-shadow, -webkit-box-shadow, background 0.2s;
    transition-duration: 0.3s; }
  .form_div .input-confirm:hover {
    background: #26A69A;
    -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.3); }

/*Error handling css*/
#button_error {
  width: auto;
  display: flex;
  align-items: center; }

.error_message {
  width: auto;
  color: red;
  margin-left: 30px; }

.success {
  color: black; }

.block {
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.75);
  width: auto;
  min-width: 300px;
  max-width: 70vw;
  padding: 20px;
  /* Space between items */
  margin-bottom: 30px; }
  .block > :first-child {
    margin-top: 0; }
  .block :last-child {
    margin-bottom: 0; }

@media (max-width: 800px) {
  .block {
    margin-right: 0;
    width: 100%;
    max-width: 100%; } }
@media (max-width: 340px) {
  .block {
    padding: 20px 10px;
    border-radius: 2px; } }
.template_img {
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: 3px 5px 18px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 3px 5px 18px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 3px 5px 18px 0 rgba(0, 0, 0, 0.14); }

footer {
  margin-top: 15px;
  padding-top: 30px;
  background: #ee6e73;
  font-size: large; }
  footer ul {
    padding-left: 20px; }

/*# sourceMappingURL=main.css.map */
