* {
  font-family: 'Roboto', sans-serif;
  outline: none; }

body {
  background-image: url(../images/background.png);
  background-color: #d7d7d7;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover; }

/*Make links look nice*/
a {
  text-decoration: none;
  color: #039be5;
  /*For JS and Jquery links */
  cursor: pointer; }

/*make sure container elements stay in the center of the page */
#logo {
  height: 1em; }

nav {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14); }
  nav * {
    color: white; }

.container {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 1280px; }

/*Fucking Google icons doen echt moeilijk*/
.material-icons {
  font-size: initial; }

/*Navigation bar */
.desktop-nav {
  /*Vertically align Google logos*/ }
  .desktop-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ee6e73; }
  .desktop-nav li {
    float: right;
    line-height: 1.5;
    vertical-align: middle; }
  .desktop-nav li i {
    float: left;
    margin-right: 5px;
    line-height: 1.5;
    vertical-align: middle; }
  .desktop-nav a {
    display: block;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    /* Hover animation */
    transition: background-color .3s;
    transition-property: background-color;
    transition-duration: 0.3s; }
  .desktop-nav a:hover {
    background-color: #d66367; }
  .desktop-nav .left {
    float: left; }

/*Disable hover animation on desktop*/
#title a:hover {
  background-color: #ee6e73; }

/*Mobile nav */
.side-nav {
  top: -334px;
  /*Mobile nav is hidden unless activated by user */ }

#mobile-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ee6e73;
  width: 25vw;
  /*rens' shit*/
  position: absolute;
  min-width: 210px; }
#mobile-nav li a {
  display: block;
  padding: 16.5px 15px;
  /* Hover animation */
  transition: background-color .3s;
  transition-property: background-color;
  transition-duration: 0.3s; }
#mobile-nav a:hover {
  background-color: #d66367; }

#close_mobile_nav {
  text-align: right; }

/*Hide mobile nav button on desktop*/
.mobile {
  display: none; }

/*Mobile*/
@media (max-width: 800px) {
  .mobile {
    display: block; }

  .desktop {
    display: none; }

  #title a:hover {
    background-color: #d66367; }

  #title {
    min-width: 210px; }

  .container {
    width: 90%; }

  body {
    background-image: url("../images/background_mobile.png"); } }
/*Style from items*/
.form_div {
  align-content: center;
  border-radius: 3px;
  background-color: white;
  width: 300px;
  max-width: 70vw;
  /*input interaction animations*/
  /*Custom styling for form header*/
  /*Make icon and text same size */ }
  .form_div * {
    margin-top: 10px; }
  .form_div input[type=text] {
    width: -webkit-fill-available;
    padding: 12px 20px;
    border: 0;
    border-bottom: 2px solid rgba(117, 117, 117, 0.5);
    transition: border-bottom 0.2s;
    margin-bottom: 5px; }
  .form_div input:focus {
    border: 0;
    border-bottom: 2px solid #26A69A;
    outline: none; }
  .form_div form {
    width: auto;
    height: auto; }
  .form_div .input-field {
    width: 90%; }
  .form_div .form_header {
    margin: 0;
    font-size: x-large;
    font-weight: normal; }
  .form_div button {
    height: 40px; }
  .form_div .input-confirm * {
    font-size: 1em;
    color: white;
    padding: 0 10px; }
  .form_div .input-confirm i {
    line-height: 1;
    vertical-align: middle;
    margin: 0; }
  .form_div .input-confirm {
    min-width: fit-content;
    cursor: pointer;
    background: #26a69a;
    border: 0;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    /*hover animation */
    transition: box-shadow, -moz-box-shadow, -webkit-box-shadow, background 0.2s; }
  .form_div .input-confirm:hover {
    background: #2bbbad;
    -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.3); }

/*Error handling css*/
#button_error {
  width: auto;
  display: flex;
  align-items: center; }

.error_message {
  width: auto;
  color: red;
  margin-left: 30px; }

.success {
  color: black; }

/*# sourceMappingURL=main.css.map */
