/dev/media/includes/connect.inc.php
/includes/connect.inc.php
!/.idea/

\.idea/
/login/
login/
/media/includes/connect.inc.php

!/subdomain_old/
/media/includes/login_config.inc.php
/subdomain_old/
!/subdomain_old/test versie/git proof.php
!/subdomain_old/test versie/FHICTService.php
!/subdomain_old/.htaccess

media/includes/cloudflare_api\.inc\.php
/media/includes/google_maps_api.inc.php
/media/includes/mail/mail_credentials.inc.php

media/includes/mail/phpmailer/

media/includes/connect-Freaze\.inc\.php

media/includes/connect-Hera\.inc\.php

ns\.php
