* {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}
body {
	background-image: url("media/images/background.png");
	/*background-image: url("https://i.gyazo.com/080ba091bfc6d14d8462b197cd7bc5d1.png");
	/*background-repeat: no-repeat;
	background-size: cover;*/
}
.no-padding {
	padding: 0;
}
.no-margin {
	margin: 0;
}