.form_div {
    min-width: 25vw;
}
@media (max-width: 1200px) {
    #button_error {
        display: inherit;
    }
    .error_message {
        margin-left: 0;
    }
}
#subdomain_explanation_block {
    //Only for desktop setting
    @media (min-width: 800px) {
        width: 40%;
    }
}